.StatsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.StatsPage-banner {
  width: 100%;
  background-color: #FEE94C;
  padding: 0.7rem;
  margin-top: 1rem;
}

.StatsPage-title {
  margin-left: 2rem;
}

.StatsPage-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.StatsPage-filter {
  margin: 0 1rem;
}

.StatsPage-groupby {
  width: 15rem;
}

.StatsPage-date-picker {
  width: 15rem;
}

.StatsPage-chart {
  display: flex;
  justify-content: center;
  width: 52rem;
  margin-top: 1rem;
}