.ProviderLoginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.ProviderLoginPage-error {
  background-color: #FFDFDF;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 15rem;
  margin-bottom: 1rem;
}

.ProviderLoginPage-error-message {
  color: #A73232;
}