.TopContactsChart-chart {
  display: flex;
  flex-direction: column;
}

.TopContactsChart-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.TopContactsChart-img {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  object-fit: cover;
}
