.RegisterPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RegisterPage-title {
  font-size: 2rem;
  margin-left: 1rem;
}

.RegisterPage-banner {
  width: 100%;
  background-color: #FEE94C;
  padding: 0.7rem;
}

.RegisterPage-form {
  margin-top: 2rem;
}