.MyServicesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MyServicesPage-banner {
  width: 100%;
  background-color: #FEE94C;
  padding: 0.7rem;
  margin-top: 1rem;
}

.MyServicesPage-title {
  margin-left: 2rem;
}