.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.Navbar-logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.Navbar-logo {
  height: 2.5rem;
}

.Navbar-logo-letters {
  height: 1.8rem;
  margin-left: 0.5rem;
}
