.RegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.RegisterForm-input {
  margin-bottom: 1.5rem;
  min-width: 20rem;
}
